<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @property.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @property.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= @property.photo %>
  </p>

  <p>
    <strong>Pricenight:</strong>
    <%= @property.priceNight %>
  </p>

  <%= link_to 'Edit', edit_property_path(@property) %> |
  <%= link_to 'Back', properties_path %>
</div>