<!DOCTYPE html>
<html>
  <head>
    <title>Vacation App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%=  render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%=  render 'shared/jumbotron' %>

    <%= yield %>
  </body>
</html>
